<!DOCTYPE html>

<%
const localization =
{
	ru:
	{
		head:
		{
			title: 'Заголовок',
			meta:
			{
				title: 'Заголовок',
				desc: 'Описание'
			}
		}

	},
	en:
	{
		head:
		{
			title: 'Title',
			meta:
			{
				title: 'Title',
				desc: 'Description'
			}
		}
	}
}
%>

<html lang="<%= lang %>">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%- localization[lang].head.title %></title>

	<meta name="description" content="<%- localization[lang].head.meta.desc %><">
	<meta name="robots" content="index, nofollow">
	<meta name="author" content="Czar">

	<meta property="og:url" content="https://czarofscripts.com/">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="<%= lang %>">
	<meta property="og:title" content="<%- localization[lang].head.meta.title %>">
	<meta property="og:description" content="<%- localization[lang].head.meta.desc %>">
	<meta property="og:image" content="/favicons/ms-icon-310x310.png">

	<meta name="msapplication-TileColor" content="#090909">
	<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#090909">

	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">

	<link rel="manifest" href="/manifest.json">


	<link rel="stylesheet" href="/css/main.min.css" />
</head>
<body>
	<div class="content">



	</div>

	<script src="/js/main.js"></script>
</body>
</html>