html, body
{
	font-size: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	min-height: 100vh;
	max-width: 100vw;

	height: 100%;
	width: 100%;
}

body
{
	font-size: 14px;
	background-color: #090909;
	color: #ACACAC;
}

.content
{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error
{
	&__title
	{
		text-align: center;
		font-size: 2em;
	}
	&__link, &__link:visited
	{
		display: block;
		text-align: center;
		margin: 15px 5px;
		color: #DC4242;
		text-decoration: underline;
	}
}